{
    "linters": {
        "*.js": [
            "prettier-eslint --write",
            "eslint --fix",
            "git add"
        ],
    },
    "ignore": [
        "**/node_modules/**/*.js"
    ]
}
